.feedback-form {
  .feedback-form--btn {
    background-color: $primary;
    color: $white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;

    &:hover {
      background-color: $accent;
    }
  }
}
