$primary: #8435e6;
$accent: #62339c;
$contrast: #3f4045;
$font-color: #6b7280;
$white: #fff;
$hover-contrast: #3f4045;
$error-color: red;

$border-radius: 1rem;

// Spacing.
$spacer: 1rem;
$space-xs: $spacer * 0.1;
$space-sm: $spacer * 0.5;
$space-md: $spacer;
$space-lg: $spacer * 1.5;
$space-xl: $spacer * 2;
