$primary: #5CE52B;
$accent: #92EF72;
$contrast: #41B519;
$font-color: #6b7280;
$white: #fff;
$hover-contrast: #3f4045;
$error-color: red;
$black: #121212;

$border-radius: 0.5rem;

// Spacing.
$spacer: 1rem;
$space-xs: $spacer * 0.1;
$space-sm: $spacer * 0.5;
$space-md: $spacer;
$space-lg: $spacer * 1.5;
$space-xl: $spacer * 2;